<div class="divider"><span></span></div>
<section id="about" class="about">
  <body style="background-color:#752f30;"></body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><font color="#D4AF37">
          June 26, 2021
        </font>
        </h2>
        <p class="lead"><font color="#D4AF37">Save the Date! Please register via the Google Form below. Invitations to follow</font></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
