<section id="login" class="login">
  <!-- <div class="container"> -->
    <div class="row">
        <div class="protected">
            <div class="protected__alert" data-id="alert">You entered the wrong password</div>
            <div class="protected__content">
                <h1 class="protected__content__heading">You need a password to continue</h1>
                <input class="protected__content__input" data-id="password" type="password" placeholder="password"/>
                <button data-id="button" type="button" class="protected__content__btn">Continue</button>
            </div>
        </div>
    </div>
    <!-- /.row -->
  <!-- </div> -->
  <!-- /.container -->
</section>
